<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataWebService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDataWebService" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/Ampla/Data/2008/06/Soap11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="BasicHttp" />
      <endpoint address="net.tcp://localhost/Ampla/Data/2008/06/Tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="NetTcp" />
    </client>
  </system.serviceModel>
</configuration>
