<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RapidImpexConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataWebService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="00:30:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDataWebService" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="00:30:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/Ampla/Data/2008/06/Soap11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="BasicHttp"/>
      <endpoint address="net.tcp://localhost/Ampla/Data/2008/06/Tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="NetTcp"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <RapidImpexConsole.Properties.Settings>
      <setting name="batchRecord" serializeAs="String">
        <value>100</value>
      </setting>
    </RapidImpexConsole.Properties.Settings>
  </applicationSettings>
</configuration>
