<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="AutofacSerilogIntegration" version="1.0.10" targetFramework="net45" />
  <package id="EPPlus" version="4.0.5" targetFramework="net452" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>