<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataWebService"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataWebService" transactionFlow="true"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://AMP-MICHAELS:8889/Ampla/Data/2008/06/Soap11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="BasicHttpBinding_IDataWebService"/>
            <endpoint address="net.tcp://amp-michaels/Ampla/Data/2008/06/Tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataWebService" contract="AmplaData200806.IDataWebService" name="NetTcpBinding_IDataWebService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
